<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<!-- 카멜케이스로 읽어주는 역할 -->
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
		<setting name="jdbcTypeForNull" value="VARCHAR"/>
	</settings>
	
	<!-- 자주 사용하는 타입의 별칭을 셋팅 -->
	<typeAliases>
		<package name="kr.or.ddit.vo"/>
	</typeAliases>

</configuration>